In [1]:
 # Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data_path = "data_2.csv"

In [3]:
cancer_df = pd.read_csv(data_path, encoding="ISO-8859-1")

In [4]:
cancer_df.head()

,Sample_ID,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [5]:
null_columns=cancer_df.columns[cancer_df.isnull().any()]
cancer_df[null_columns].isnull().sum()

Series([], dtype: float64)

In [7]:
cancer_df = cancer_df[cancer_df != '?']

In [8]:
cancer_df

,Sample_ID,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,NaN,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [9]:
cancer_df.dtypes

Sample_ID                       int64
Clump_thickness                 int64
Uniformity_cell_size            int64
Uniformity_cell_shape           int64
Marginal_adhesion               int64
Single_epithelial_cell_size     int64
Bare_nuclei                    object
Bland_chromatin                 int64
Normal_nucleoli                 int64
Mitoses                         int64
diagnosis                       int64
dtype: object

In [10]:
df = cancer_df.drop(['Sample_ID'], axis=1)

In [11]:
df['diagnosis'] = df['diagnosis'].map({4:1,2:0})
df.head()

,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

In [12]:
df.dropna()

,Clump_thickness,Uniformity_cell_size,Uniformity_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,diagnosis
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
5,8,10,10,8,7,10,9,7,1,1
6,1,1,1,1,2,10,3,1,1,0
7,2,1,2,1,2,1,3,1,1,0
8,2,1,1,1,2,1,1,1,5,0
9,4,2,1,1,2,1,2,1,1,0
10,1,1,1,1,1,1,3,1,1,0
11,2,1,1,1,2,1,2,1,1,0
12,5,3,3,3,2,3,4,4,1,1
13,1,1,1,1,2,3,3,1,1,0
14,8,7,5,10,7,9,5,5,4,1
15,7,4,6,4,6,1,4,3,1,1
16,4,1,1,1,2,1,2,1,1,0
17,4,1,1,1,2,1,3,1,1,0
18,10,7,7,6,4,10,4,1,2,1
19,6,1,1,1,2,1,3,1,1,0
20,7,3,2,10,5,10,5,4,4,1
21,10,5,5,3,6,7,7,10,1,1
22,3,1,1,1,2,1,2,1,1,0
24,1,1,1,1,2,1,3,1,1,0
25,5,2,3,4,2,7,3,6,1,1
26,3,2,1,1,1,1,2,1,1,0
27,5,1,1,1,2,1,2,1,1,0
28,2,1,1,1,2,1,2,1,1,0
29,1,1,3,1,2,1,1,1,1,0
30,3,1,1,1,1,1,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,1
670,3,10,7,8,5,8,7,4,1,1
671,3,2,1,2,2,1,3,1,1,0
672,2,1,1,1,2,1,3,1,1,0
673,5,3,2,1,3,1,1,1,1,0
674,1,1,1,1,2,1,2,1,1,0
675,4,1,4,1,2,1,1,1,1,0
676,1,1,2,1,2,1,2,1,1,0
677,5,1,1,1,2,1,1,1,1,0
678,1,1,1,1,2,1,1,1,1,0
679,2,1,1,1,2,1,1,1,1,0
680,10,10,10,10,5,10,10,10,7,1
681,5,10,10,10,4,10,5,6,3,1
682,5,1,1,1,2,1,3,2,1,0
683,1,1,1,1,2,1,1,1,1,0
684,1,1,1,1,2,1,1,1,1,0
685,1,1,1,1,2,1,1,1,1,0
686,1,1,1,1,2,1,1,1,1,0
687,3,1,1,1,2,1,2,3,1,0
688,4,1,1,1,2,1,1,1,1,0
689,1,1,1,1,2,1,1,1,8,0
690,1,1,1,3,2,1,1,1,1,0
691,5,10,10,5,4,5,4,4,1,1
692,3,1,1,1,2,1,1,1,1,0
693,3,1,1,1,2,1,2,1,2,0
694,3,1,1,1,3,2,1,1,1,0
695,2,1,1,1,2,1,1,1,1,0
696,5,10,10,3,7,3,8,10,2,1
697,4,8,6,4,3,4,10,6,1,1
698,4,8,8,5,4,5,10,4,1,1

In [13]:
df['Bare_nuclei'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
data_final = df.drop("id", axis=1)
feature_names = data_final.columns
data_final.head()

In [ ]:
df_final = data_final[['diagnosis','perimeter_mean','area_mean','compactness_mean','concave points_mean']]
df_final.head()

In [ ]:
X = df.drop("diagnosis", axis=1)
y = df["diagnosis"]
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=100, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=9))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [ ]:
 # Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

In [ ]:
 model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")